name: Deploy Shortify Analyzer

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ~/shortify/shortify-analyzer
            git pull

            cd ~/shortify
            docker compose build shortify-analyzer
            docker compose up -d shortify-analyzer
